body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	padding: 25px 0 25px 0;
	background: white;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}

/* Main Logo */

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 3em;
  color: #b33;
  float: left;
  width: 570px;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}

header nav {
  float: right;
  width: 285px;
}

/*links*/

a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}

header nav {
	float: right;
	width: 285px;
}

main {
    background: #fff;
    border-radius: 0 5px 5px 5px;;
    padding: 40px;
}

.tabs a span {
	display: inline-block;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a .active {
    background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: #eff;
    margin: 0 0 10px 0;
}

main .content button {
  font-weight: bold;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.3em;
}


main .content p {
    background: yellow;
}

main .content input {
    font-size: 1.5em;
}

footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}

footer .contact {
  float: left;
  width: 570px;    
}

footer .contact p:nth-child(2) {
  color: #b33;
  font-style: italic;
}

footer .sitemap {
    float: right;
    width: 285px;
}

footer ul {
    width: 230px;
}

li {
    list-style: none;
}

footer .sitemap .right {
  float: right;
}

footer .sitemap .left {
	float: left;
}






/* The Grid
Defines a styling grid over the content
Basic approach to design layouts
Fixed width design: content remains centered at same width regardless of browser window resizing
Fixed width design: not responsive
`min-width` property: hides remaining part of the page 
from view if browser is resized to a viewport smaller than 885px 

Goal: content centered and fixed at 855px wide
855px is divisible by 3 (columns are roughly 2/3 to 1/3 wide)

Possible solution:
Add max-width rule to ruleset styling of the header, main and footer.
Set the margin on the body to auto*/